

.custom-navbar {
  background-color: #1ba098;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}

.brand {
  /* Add styles for your brand/logo */
}

.user-info-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.TickTraq_navLogo{
  height: 60px;
  width: 150px;
  padding: 0px;
}
