.pareSpacing{
    width: 16rem;
}

.industriesDiv{
    width: 8rem;
}

p,h5{
    color: #3D4853;
}

.navFooter{
    background-color: #758291;
  
}

.rating-gaping{
    width: 29rem;
}