.dashbody{
    background-color: #c3efec;
    height: 100vh;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}
.timer_dash{
    margin-top: 80px;
    margin-left: 12px;
}
.dashnav{

    position: fixed;
    width: 100%;
}
.dashside{
    margin-top: 80px;
    margin-left: 15px;
}
.maincomp{
    position: fixed;
}
.dashcontent{
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 80px;
}
.dashcontent::-webkit-scrollbar {
    width: 60px;
}
