/* .loginDiv{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#7db2cc 10%,#5d7f7e) no-repeat;
  }
 
  
  .show-btn, .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   
  
  .container{
    background: #fff;
    width: 350px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
 
 
 
  .container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
  }
   
  form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    font-weight: bold;
  }
  form .data input:focus{
    border-color: #7db2cc;
    border-bottom-width: 2px;
  }
  form .forgot-pass{
    margin-top: -8px;
  }
  form .forgot-pass a{
    color: #3498db;
    text-decoration: none;
  }
  form .forgot-pass a:hover{
    color:#7db2cc ;
  }
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: linear-gradient(to right,#7db2cc 10%,#5d7f7e);
    transition: all 0.4s;
  }
  form .btn:hover .inner{
    left: 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  form .signup-link{
    text-align: center;
  }
  form .signup-link a{
    color: #3498db;
    text-decoration: none;
  }
  form .signup-link a:hover{
    color:#7db2cc ;
  }
  .head{
    color: #6d470a;
  }
  .nav-item{
    font-size: 20px;
  padding-bottom: 10px;
  margin: 0%;  
  }
  .security{
   padding-top: 450px;
   padding-left: 450px;
    
  } */